<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<table>
    <thead>
    <tr>
        <td>id</td>
        <td>username</td>
        <td>money</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.id}"></td>
        <td th:text="${account.name}"></td>
        <td th:text="${account.money}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>